*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: $root-font-size;
  text-size-adjust: 100%;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    font-size: $root-font-size-xl;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
}

.page {
  background-color: $color-white;
  color: $paragraph-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
