.grid {
  display: grid;
  grid-template-columns: 1fr;

  &--employment-overview {
    grid-row-gap: $spacing-8;
    margin-bottom: -$spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-column-gap: $spacing-8;
      grid-row-gap: 0;
      grid-template-columns: 1.5fr 1fr;
      margin-bottom: $spacing-11;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      grid-column-gap: $spacing-10;
      grid-template-columns: 2fr 1fr;
    }
  }

  &--collection {
    grid-gap: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      grid-gap: $spacing-7;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-gap: $spacing-8;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--blog {
    background-color: $color-grey-3;
    border: $border-width-base $border-style $color-grey-3;
    border-radius: 12px;
    grid-gap: 1px;
    margin-top: $spacing-5;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: $spacing-7;
    }
  }

  &--post {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      grid-template-columns: $size-4 1fr $size-4;
    }
  }

  &--projects {
    grid-gap: $spacing-5;
    margin-top: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: $spacing-7;
    }
  }
}
