.grid {
  display: grid;
  grid-template-columns: 1fr;

  &--employment-overview {
    grid-row-gap: 3rem;
    margin-bottom: -$spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-column-gap: 3rem;
      grid-row-gap: 0;
      grid-template-columns: 1.5fr 1fr;
      margin-bottom: 8rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      grid-column-gap: 6rem;
      grid-template-columns: 2fr 1fr;
    }
  }

  &--collection {
    grid-gap: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      grid-gap: 2rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--blog {
    background-color: #d5d6dd;
    border: 1px solid #d5d6dd;
    border-radius: 12px;
    grid-gap: 1px;
    margin-top: $spacing-5;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: $spacing-7;
    }
  }

  &--post {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      grid-template-columns: 2.5rem 1fr 2.5rem;
    }
  }
}
