@mixin grid {
  display: grid;
  grid-gap: $spacing-7;
  grid-template-columns: $grid-columns-default;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-column-gap: $spacing-9;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    grid-column-gap: $spacing-10;
  }
}

@mixin grid-center {
  margin: 0 auto;
  max-width: 34rem;
}

$grid-columns-default: 1fr;
$grid-columns-post: 2.5rem 1fr 2.5rem;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing-7;
  grid-row-gap: $spacing-7;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
    grid-column-gap: $spacing-9;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    grid-column-gap: $spacing-10;
  }

  &--employment-overview {
    grid-row-gap: 3rem;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-column-gap: 3rem;
      grid-row-gap: 0;
      grid-template-columns: 1.5fr 1fr;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      grid-column-gap: 6rem;
      grid-template-columns: 2fr 1fr;
    }
  }

  &--post {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      grid-template-columns: 2.5rem 1fr 2.5rem;
    }
  }

  &--center {
    max-width: 34rem;
    margin: 0 auto;
  }

  &--blog {
    background-color: #d5d6dd;
    border: 1px solid #d5d6dd;
    border-radius: 12px;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    margin-top: $spacing-6;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-template-columns: 1fr 1fr;
      margin-top: $spacing-7;
    }
  }
}
