html {
  position: relative;
}

.page {
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    overflow: visible;
  }
}

.container {
  @include container;
  position: relative;
}

.section {
  margin-bottom: $spacing-10;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin-bottom: $spacing-11;
  }
}

.collection {
  &__header {
    margin-bottom: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    margin-bottom: 0;
  }

  &__desktop-btn {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: unset;
    }
  }

  &__mobile-btn {
    display: flex;
    justify-content: center;
    margin-top: $spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: none;
    }
  }

  &__image {
    border-radius: $border-radius-lg;
  }
}
