html {
  position: relative;
}

.page {
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    overflow: visible;
  }
}

.container {
  @include container;
  position: relative;

  &--about {
    margin: 0 auto;
    max-width: $size-11;
    padding: 0 $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      max-width: 40rem;
    }
  }

  &--timeline {
    margin: 0 auto;
    max-width: $size-11;
    padding: 0 $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      max-width: $size-12;
    }
  }
}

.section {
  margin-bottom: $spacing-10;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    margin-bottom: $spacing-11;
  }
}

.collection {
  &__header {
    margin-bottom: $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    margin-bottom: 0;
  }

  &__desktop-btn {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: unset;
    }
  }

  &__mobile-btn {
    margin-top: $spacing-7;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      display: none;
    }
  }

  &__image {
    border-radius: $border-radius-lg;
  }
}

.about-image {
  margin: $spacing-8 0 $spacing-5;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    margin: $spacing-9 0 $spacing-6;
  }
}

.grid__item {
  &--fw {
    grid-column: 1 / -1;
  }
}
