// Colors
$color-base: hsl(225, 100%, 5%);
$color-grey-5: hsl(0, 0%, 40%);
$color-grey-4: hsl(0, 0%, 45%);
$color-grey-3: hsl(233, 11%, 80%);
$color-grey-2: hsl(0, 0%, 90%);
$color-grey-1: hsl(180, 9%, 98%);

$color-secondary-2: hsl(232, 19%, 15%);
$color-secondary-1: hsl(228, 10%, 90%);

// Accents
$color-powder: hsl(225, 100%, 75%);
$color-white: hsl(0, 0%, 100%);
$rift-pearl: hsl(240, 8%, 71%);

// Background
$background-color: $color-white;

// Border radius
$border-radius-xs: 0.1rem !default; // 2px
$border-radius-sm: 0.2rem !default; // 4px
$border-radius-base: 0.25rem !default; // 5px
$border-radius-lg: 0.4rem !default; // 8px
$border-radius-half: 50% !default;
$border-radius-full: 100% !default;

// Border sizing
$border-width-base: 1px !default;
$border-width-sm: $border-width-base * 2 !default;
$border-width-lg: $border-width-base * 3 !default;
$border-width-xl: $border-width-base * 4 !default;

// Border styling
$border-color: $color-white !default;
$border-style: solid !default;

// Borders
$border-default: $border-width-lg $border-style $border-color;

// Breakpoints
$breakpoints: (
  breakpoint-0: 0,
  breakpoint-1: 34em,
  breakpoint-2: 40em,
  breakpoint-3: 48em,
  breakpoint-4: 62em,
  breakpoint-5: 68em,
  breakpoint-6: 75em,
  breakpoint-7: 80em,
  breakpoint-8: 82em,
  breakpoint-9: 84em,
  breakpoint-10: 90em,
  breakpoint-11: 96em,
  breakpoint-12: 100em,
  breakpoint-13: 120em,
) !default;

// Durations
$duration-1: 150ms;
$duration-2: 200ms;
$duration-3: 250ms;
$duration-4: 300ms;
$duration-5: 400ms;
$duration-6: 500ms;

// Heading sizes
$font-size-h1: 2.25rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.1rem !default;
$font-size-h4: 0.9rem !default;
$font-size-h5: 0.8rem !default;
$font-size-h6: 0.75rem !default;

// Font sizes
$root-font-size: 1rem;
$root-font-size-xl: 1.25rem;
$font-size-xxs: 0.75rem;
$font-size-xs: 0.8rem !default;
$font-size-sm: 0.9rem !default;
$font-size-md: 1.1rem !default;
$font-size-lg: 1.875rem !default;
$font-size-xl: 2.2rem !default;

// Font colours
$heading-color: $color-powder;
$link-color: $color-powder;
$paragraph-color: $color-grey-4;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Line heights
$heading-line-height: 1.2 !default;
$line-height: 1.6 !default;
$quote-line-height: 1.5 !default;

// Opacity
$opacity-base: 0.75;

// Spacing
$spacing-1: 0.125rem;
$spacing-2: 0.25rem;
$spacing-3: 0.5rem;
$spacing-4: 0.75rem;
$spacing-5: 1rem;
$spacing-6: 1.5rem;
$spacing-7: 2rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 6rem;
$spacing-11: 8rem;
$spacing-12: 10rem;
$spacing-13: 12rem;
$spacing-14: 16rem;
$spacing-15: 20rem;

// Sizing
$size-1: 1rem;
$size-2: 1.5rem;
$size-3: 2rem;
$size-4: 2.5rem;
$size-5: 3rem;
$size-6: 3.5rem;
$size-7: 4.5rem;
$size-8: 10rem;
$size-9: 12rem;
$size-10: 20rem;
$size-11: 34rem;
$size-12: 62rem;

// Timings
$timing-ease: ease;
$timing-ease-in-out: ease-in-out;
$timing-ease-in: ease-in;
$timing-elastic: cubic-bezier(0.55, 0, 0.1, 1);

// Z-index map
$z-index: (
  'default': 1,
  'below': -1,
);

// Z-index function
@function z($key) {
  @return map-get($z-index, $key);
}

:root {
  --color-logo: #{$color-white};
}
