.button {
  @include focus-ring;
  background-color: $color-white;
  border: none;
  border-radius: $border-radius-base;
  color: #00071c;
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: 500;
  padding: $spacing-5;
  text-align: center;
  text-decoration: none;
  transition: background-color $duration-2 $timing-ease;

  &:hover {
    // background-color: inherit;
  }
}
