$linkedin-icon: url('/assets/images/icons/social/linkedin.svg');
$dribbble-icon: url('/assets/images/icons/social/dribbble.svg');
$linkedin-url: 'https://www.linkedin.com/in/curtis97lee/';
$dribbble-url: 'https://dribbble.com/Curtis_A_Lee';

.button {
  @include focus-ring;
  background-color: $color-white;
  border: none;
  border-radius: $border-radius-base;
  color: $color-base;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  padding: $spacing-5;
  text-align: center;
  text-decoration: none;
  transition: background-color $duration-5 $timing-ease;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    font-size: $root-font-size;
  }

  @include hover {
    background-color: darken($color-white, 15%);
  }

  &--footer {
    background-color: $color-base;
    color: $color-white;
    font-size: $font-size-sm;

    @include hover {
      background-color: $color-base;
    }
  }
}

a[href='#{$linkedin-url}'],
a[href='#{$dribbble-url}'] {
  font-size: $font-size-sm;
  padding-left: $spacing-8;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
    padding-left: 2.5rem;
  }
}

$socials: (
  linkedin: $linkedin-icon,
  dribbble: $dribbble-icon,
);

@mixin social-button($background-image) {
  background: $background-image no-repeat $spacing-4 center $color-secondary-1;
  padding: $spacing-4;

  @include hover {
    background-color: darken($color-secondary-1, 5%);
  }
}

@each $social, $icon in $socials {
  .button--#{$social} {
    @include social-button(nth($icon, 1n));
  }
}
