.employment-list {
  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding-top: $spacing-6;
  }

  &__items {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $spacing-5;
    }
  }
}
