.content-block {
  padding-top: 2rem;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    padding-top: 0;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding-top: 2rem;
  }

  &--sticky {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      position: sticky;
      top: 0;
      max-width: 30rem;
    }
  }

  &__heading {
    color: #00071c;
    font-size: $font-size-h2;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: 1.6rem;
    }
  }

  &__intro {
    color: #666666;
    font-size: $font-size-md;
    line-height: 1.6;
    margin-bottom: $spacing-5;
  }

  &__text {
    color: #808080;
    margin-bottom: $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: $font-size-sm;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-11')) {
      margin-bottom: $spacing-6;
    }
  }
}
