mixin content-block(c)
  .content-block
    h2.content-block__heading= c.heading
    p.content-block__intro= c.intro
    each item in c.paragraphs
      p.content-block__text= item.text
    if c.blockButton === true
      +button(c.button)