.hero {
  align-items: center;
  background-color: #00071c;
  display: flex;
  padding: $spacing-10 0;
  position: relative;
  text-align: center;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    padding: $spacing-10 0;
    margin-bottom: $spacing-10;
  }

  &__container {
    @include container;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      transform: translateY(-10%);
    }
  }

  &__heading {
    font-size: $font-size-h1;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: 3rem;
    }

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      font-size: 3.5rem;
    }
  }

  &__subheading {
    color: #e5e5e5; // var(--color-hero-subheading)
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: $spacing-6;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: 1.8rem;
    }
  }

  &__subheading-link {
    color: $color-white;
    font-weight: 400;
    position: relative;

    &::after {
      background-color: currentColor;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
