.project-card {
  background-color: $color-white;
  color: $color-grey-5;
  height: 100%;

  &__media {
    border-radius: $border-radius-lg;
    overflow: hidden;

    &--fw {
      border: 0.1rem solid $color-grey-1;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        max-height: 19rem;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__image {
    transition: transform $duration-5 $timing-ease;

    &--fw {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
        max-height: 19rem;
      }
    }
  }

  &__content {
    padding: $spacing-6 0 0;
  }

  &__heading {
    color: $color-base;
    font-size: 1.25rem;
    margin: 0 0 $spacing-4;
  }

  &__text {
    color: currentColor;
    font-size: $font-size-md;
    margin-bottom: $spacing-6;
  }

  &__labels {
    display: flex;
    gap: $spacing-3;
    padding: 0;
    position: relative;
  }

  &__label {
    background-color: rgba($color-powder, .15);
    border-radius: $border-radius-sm;
    color: hsl(225, 100%, 50%);
    display: inline-block;
    font-size: $font-size-xxs;
    font-weight: 600;
    padding: $spacing-2 $spacing-3;
    text-transform: uppercase;
  }
}

.project-card:hover .project-card__image {
  transform: scale(1.025);
}
