.event {
  background-color: $color-grey-1;
  border-radius: 12px;
  padding: $spacing-6;

  &__date {
    color: $color-grey-5;
    display: block;
    font-size: $font-size-xxs;
    font-weight: 600;
    margin-bottom: $spacing-3;
    text-transform: uppercase;
  }

  &__heading {
    color: $color-base;
    font-size: 1.25rem;
    margin: 0 0 $spacing-2;
  }

  &__text {
    color: $color-grey-4;
    font-size: $font-size-sm;
    margin-bottom: 0;
  }
}
