.event {
  background-color: #f9fafa;
  border-radius: 12px;
  padding: $spacing-6;

  &:not(:first-child) {
    margin-top: $spacing-8;
  }

  &__date {
    color: #666666;
    display: block;
    font-size: $font-size-xxs;
    font-weight: 600;
    margin-bottom: $spacing-3;
    text-transform: uppercase;
  }

  &__heading {
    color: #00071c;
    font-size: $font-size-h2;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      font-size: 1.6rem;
    }
  }

  &__text {
    color: #808080;
    margin-bottom: 0;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-6')) {
      font-size: $font-size-sm;
    }
  }
}
