extends ../layouts/page.pug

block prepend vars
  -var metaUrl = "https://thatboycurt.com"
  -var heroHeading = "Hey, I’m Curt"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: "I'm a product designer at <a class='hero__subheading-link' href='https://nuom.co.uk/'>nuom</a>",
    index: true,
    button: {
      url: "#",
      text: "More about me"
    }
  })

  section.section
    .container
      .grid.grid--employment-overview
        .grid__item
          +content-block({
            modifier: "sticky",
            heading: "Where have I worked?",
            intro: "I’ve had the pleasure of working with and learning from some great teams, most notably at Kind, Strafe Creative, Leaf Software and nuom.",
            paragraphs: [
              {
                text: "As well as gaining valuable industry experience both during university, and after, I’ve also taught classes on SkillShare that focus on prototyping and interactive design for mobile applications."
              }
            ],
            blockButton: true,
            button: {
              newTab: true,
              modifier: "linkedin",
              url: "https://www.linkedin.com/in/curtis97lee/",
              text: "I'm on LinkedIn"
            }
          })
        .grid__item
          +employment-list({
            employmentList: [
              {
                image: {
                  src: "/assets/images/employments/nuom.jpg",
                  alt: "The nuom logo."
                },
                title: "UI/UX Designer",
                details: "nuom | Mar '21 - Present",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/leaf.jpg",
                  alt: "The Leaf logo."
                },
                title: "Product Designer",
                details: "Leaf Software | Feb '19 - Mar '21",
                location: "Canterbury, UK (Remote)"
              },
              {
                image: {
                  src: "/assets/images/employments/skillshare.jpg",
                  alt: "The SkillShare logo."
                },
                title: "Online Teacher",
                details: "SkillShare | Sep '18 - Jan '19",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/strafe.jpg",
                  alt: "The Strafe logo."
                },
                title: "Junior Designer",
                details: "Strafe Creative | Nov '17 - Aug '18",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/kind.jpg",
                  alt: "The Kind logo."
                },
                title: "Graphic Design Intern",
                details: "Kind | Jul '17 - Aug '17",
                location: "Nottingham, UK",
                modifier: "last"
              }
            ]
          })

  section.section
    .container
      .blog-content
        +blog-post-grid
