extends ../layouts/page.pug

block prepend vars
  -var metaUrl = "https://thatboycurt.com"
  -var heroHeading = "Hey, I’m Curt 👋"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: "Currently designing products at <a class='hero__subheading-link' href='https://nuom.co.uk/'>nuom</a>",
    index: true,
    button: {
      url: "#",
      text: "More about me"
    }
  })

  section.section
    .container
      .grid.grid--employment-overview
        .grid__item
          +content-block({
            heading: "Where have I worked?",
            intro: "I’ve had the pleasure of working with and learning from some great teams, most notably at Kind, Strafe Creative, Leaf Software and nuom.",
            paragraphs: [
              {
                text: "As well as gaining valuable industry experience both during university, and after, I’ve also taught classes on SkillShare that focus on prototyping and interactive design for mobile applications."
              }
            ],
            blockButton: true,
            button: {
              url: "#",
              text: "Check out my LinkedIn"
            }
          })
        .grid__item
          +employment-list({
            employmentList: [
              {
                image: {
                  src: "/assets/images/employments/nuom.jpg",
                  alt: "Alt text here"
                },
                title: "Title",
                details: "Details",
                location: "Location"
              },
              {
                image: {
                  src: "/assets/images/employments/leaf.jpg",
                  alt: "Alt text here"
                },
                title: "Title",
                details: "Details",
                location: "Location"
              },
              {
                image: {
                  src: "/assets/images/employments/skillshare.jpg",
                  alt: "Alt text here"
                },
                title: "Title",
                details: "Details",
                location: "Location"
              },
              {
                image: {
                  src: "/assets/images/employments/strafe.jpg",
                  alt: "Alt text here"
                },
                title: "Title",
                details: "Details",
                location: "Location"
              },
              {
                image: {
                  src: "/assets/images/employments/kind.jpg",
                  alt: "Alt text here"
                },
                title: "Title",
                details: "Details",
                location: "Location",
                modifier: "last"
              }
            ]
          })


  section.section
    .container
      .blog-content
        +blog-post-grid
