extends ../layouts/page.pug

block prepend vars
  -var metaUrl = "https://thatboycurt.com"
  -var heroHeading = "Hey, I’m Curt"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: "I'm a product designer at <a class='hero__subheading-link' href='https://nuom.co.uk/'>nuom</a>",
    index: true,
    button: {
      url: "/about",
      text: "More about me"
    }
  })

  section.section
    .container
      .grid.grid--employment-overview
        .grid__item
          +content-block({
            modifier: "sticky",
            heading: "Where have I worked?",
            intro: "I’ve had the pleasure of working with and learning from some great teams, most notably at Kind, Strafe Creative, Leaf Software and nuom.",
            paragraphs: [
              {
                text: "As well as gaining valuable industry experience both during university, and after, I’ve also taught classes on SkillShare that focus on prototyping and interactive design for mobile applications."
              }
            ],
            blockButton: true,
            button: {
              newTab: true,
              modifier: "linkedin",
              url: "https://www.linkedin.com/in/curtis97lee/",
              text: "Connect on LinkedIn"
            }
          })
        .grid__item
          +employment-list({
            employments: [
              {
                image: {
                  src: "/assets/images/employments/nuom.jpg",
                  alt: "The nuom logo."
                },
                title: "UI/UX Designer",
                company: "nuom",
                date: "Mar 2021 - Present",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/leaf.jpg",
                  alt: "The Leaf logo."
                },
                title: "Product Designer",
                company: "Leaf",
                date: "Feb 2019 - Mar 2021",
                location: "Canterbury, UK (Remote)"
              },
              {
                image: {
                  src: "/assets/images/employments/skillshare.jpg",
                  alt: "The SkillShare logo."
                },
                title: "Online Teacher",
                company: "SkillShare",
                date: "Sep 2018 - Jan 2019",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/strafe.jpg",
                  alt: "The Strafe logo."
                },
                title: "Junior Designer",
                company: "Strafe",
                date: "Nov 2017 - Aug 2018",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/kind.jpg",
                  alt: "The Kind logo."
                },
                title: "Graphic Design Intern",
                company: "Kind",
                date: "Jul 2017 - Aug 2017",
                location: "Nottingham, UK",
                modifier: "last"
              }
            ]
          })

  section.section
    .container
      .collection__header
        h2.collection__heading Recent shots
        .collection__desktop-btn
          +button({
            newTab: true,
            modifier: "dribbble",
            url: "https://dribbble.com/Curtis_A_Lee",
            text: "Check out my Dribbble"
          })
      .grid.grid--collection
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/1.jpg",
            alt: "Skoda Configuration experience."
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/2.jpg",
            alt: "MovinUp real estate dashboard."
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/3.jpg",
            alt: "Calenda task planner dashboard."
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/4.jpg",
            alt: "FormKit data capture library made in Sketch."
          })
      .collection__mobile-btn
        +button({
            newTab: true,
            modifier: "dribbble",
            url: "https://dribbble.com/Curtis_A_Lee",
            text: "Check out my Dribbble"
          })

  section.section
    .container
      h2 I sometimes write...
      .blog-content
        +blog-post-grid
