extends ../layouts/page.pug

block prepend vars
  -var metaUrl = "https://thatboycurt.com"
  -var heroHeading = "Hey, I’m Curt"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: "I'm a product designer at <a class='hero__subheading-link' href='https://nuom.co.uk/'>nuom</a>",
    index: true,
    button: {
      url: "/about",
      text: "More about me"
    }
  })

  section.section
    .container
      .grid.grid--employment-overview
        .grid__item
          +content-block({
            modifier: "sticky",
            heading: "Where have I worked?",
            intro: "I’ve had the pleasure of working with and learning from some great teams, most notably at Kind, Strafe Creative, Leaf Software and nuom.",
            paragraphs: [
              {
                text: "As well as gaining valuable industry experience both during university, and after, I’ve also taught classes on SkillShare that focus on prototyping and interactive design for mobile applications."
              }
            ],
            blockButton: true,
            button: {
              newTab: true,
              modifier: "linkedin",
              url: "https://www.linkedin.com/in/curtis97lee/",
              text: "Connect on LinkedIn"
            }
          })
        .grid__item
          +employment-list({
            employments: [
              {
                image: {
                  src: "/assets/images/employments/nuom.jpg",
                  alt: "The nuom logo."
                },
                title: "UI/UX Designer",
                company: "nuom",
                date: "Mar 2021 - Present",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/leaf.jpg",
                  alt: "The Leaf logo."
                },
                title: "Product Designer",
                company: "Leaf",
                date: "Feb 2019 - Mar 2021",
                location: "Canterbury, UK (Remote)"
              },
              {
                image: {
                  src: "/assets/images/employments/skillshare.jpg",
                  alt: "The SkillShare logo."
                },
                title: "Online Teacher",
                company: "SkillShare",
                date: "Sep 2018 - Jan 2019",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/strafe.jpg",
                  alt: "The Strafe logo."
                },
                title: "Junior Designer",
                company: "Strafe",
                date: "Nov 2017 - Aug 2018",
                location: "Nottingham, UK"
              },
              {
                image: {
                  src: "/assets/images/employments/kind.jpg",
                  alt: "The Kind logo."
                },
                title: "Graphic Design Intern",
                company: "Kind",
                date: "Jul 2017 - Aug 2017",
                location: "Nottingham, UK",
                modifier: "last"
              }
            ]
          })

  section.section
    .container
      .collection__header
        h2.collection__heading Recent shots
        .collection__desktop-btn
          +button({
            newTab: true,
            modifier: "dribbble",
            url: "https://dribbble.com/Curtis_A_Lee",
            text: "Check out my Dribbble"
          })
      .grid.grid--collection
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/1.jpg",
            alt: "KD Trey 5 IX"
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/2.jpg",
            alt: "Nike X Off White"
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/3.jpg",
            alt: "Email Dashboard (Dark)"
          })
        .grid-item
          +image({
            context: "collection",
            src: "/assets/images/dribbble/4.jpg",
            alt: "Geometrix"
          })
      .collection__mobile-btn
        +button({
            newTab: true,
            modifier: "dribbble",
            url: "https://dribbble.com/Curtis_A_Lee",
            text: "Check out my Dribbble"
          })

  section.section
    .container
      h2.collection__heading Stuff I've built
      .grid.grid--projects
        .grid__item
          +project-card({
            href: "https://nuom-project-template.webflow.io/style-system/base-styles",
            image: {
              src: "/assets/images/projects/wf-starter-kit.jpg",
              alt: "To improve the quality of our Webflow projects at nuom, I've built a custom style system and component library along with all of the documentation for our team to refer to. This means we're able to build our sites much faster and to a consistently higher standard every time."
            },
            heading: "Webflow Starter | nuom",
            text: "A custom built Webflow template for nuom",
            projects: [
              {
                label: "Webflow"
              },
              {
                label: "Template"
              }
            ]
          })
        .grid__item
          +project-card({
            href: "https://www.behance.net/gallery/108829781/FormKit",
            image: {
              src: "/assets/images/projects/sketch-formkit.jpg",
              alt: "A mini data capture library built using Sketch. It features an array of components for you to start using, including a bunch of default text and layer styles (although they can be configured however you'd like)."
            },
            heading: "FormKit | Sketch Library",
            text: "A mini data capture library built using Sketch",
            projects: [
              {
                label: "Sketch"
              },
              {
                label: "UI Kit"
              },
              {
                label: "Library"
              }
            ]
          })

  section.section
    .container
      h2 I sometimes write...
      .blog-content
        +blog-post-grid
