extends ../layouts/page.pug

block prepend vars
  -var activePage = "Latest"
  -var metaUrl = "https://thatboycurt.com/latest"
  -var heroHeading = "Latest happenings"
  -var heroSubheading = "It's good to keep track"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container.container--timeline
      +timeline({
        items: [
          {
            date: "2021-03",
            heading: "Joined nuom",
            text: "With the closing of Leaf, I've since joined the team at nuom as a UI/UX Designer."
          },
          {
            date: "2021-01",
            heading: "Built a bike",
            text: "I wanted to see how much I could upgrade a budget hardtail. Ended up swapping out every part except for the frame, and it now rides like a dream."
          }
        ]
      })
