extends ../layouts/page.pug

block prepend vars
  -var activePage = "Latest"
  -var metaUrl = "https://thatboycurt.com/latest"
  -var heroHeading = "Latest happenings"
  -var heroSubheading = "It's good to keep track"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container.container--timeline
      +timeline({
        items: [
          {
            date: "2022-12",
            heading: "Joined Zen",
            text: "Decided to go in-house and help the team scale their Zen Locum product. The company intro was fun as well; 2 parties in London followed by a train ride home feeling very sorry for myself..."
          },
          {
            date: "2022-09",
            heading: "New whip arrived",
            text: "8 months after ordering, Pablo arrived. A Polo GTI is a car I've wanted for so long, and seeing as my next car will probably be electric I figured I'd get the petrol head, boy-racer antics out of the way now :D"
          },
          {
            date: "2022-06",
            heading: "Started leading my own workshops!",
            text: "As someone who hated presenting and being in the spotlight, the fact that I'm now facilitating workshops is pretty cool."
          },
          {
            date: "2022-03",
            heading: "Went skiing",
            text: "After two years of delays, we finally hit the slopes in Courchevel! A few black runs and some big crashes later, I'd say it was a great success!."
          },
          {
            date: "2021-12",
            heading: "GTI crew inbound",
            text: "Yeah. Cars are cool. So much so we have a new Polo GTI joining our line-up sometime later in the year 🏁."
          },
          {
            date: "2021-05",
            heading: "House deposit milestone",
            text: "The market sucks at the moment, but I've been to view a few houses just to get a feel for what's out there. I'll probably hold out for now though..."
          },
          {
            date: "2021-03",
            heading: "Joined nuom",
            text: "With the closing of Leaf, I've since joined the team at nuom as a Product Designer."
          },
          {
            date: "2021-01",
            heading: "Built a bike",
            text: "I wanted to see how much I could upgrade my hardtail, and ended up swapping out every part except for the frame and it now rides like a dream."
          }
        ]
      })
