extends ../layouts/page.pug

block prepend vars
  -var activePage = "Writing"
  -var metaUrl = "https://thatboycurt.com/writing"
  -var heroHeading = "Some of my writing"
  -var heroSubheading = "A few links if you're interested"

block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container
      +blog-post-grid(false)
