extends ../layouts/page.pug

block prepend vars
  -var activePage = "Writing"
  -var metaUrl = "https://thatboycurt.com/writing"
  -var heroHeading = "I write, sometimes"
  -var heroSubheading = "Here's a few of my ramblings"


block pageComponents
  +hero({
    heading: heroHeading,
    subheading: heroSubheading,
  })

  section.section
    .container
      +blog-post-grid(false)
