.employment {
  display: flex;

  &__thumbnail {
    position: relative;

    &::after {
      background-color: #d5d6dd;
      content: '';
      height: calc(100% - #{$spacing-9});
      left: 50%;
      position: absolute;
      width: 0.2rem;
      transform: translateX(-50%);
      bottom: 0;
    }

    &--last {
      &::after {
        content: none;
      }
    }
  }

  &__media {
    width: 3rem;
  }

  &__image {
    border-radius: $border-radius-sm;
  }

  &__content {
    margin-left: $spacing-5;
  }

  &__details {
    color: #666666;
    font-weight: 500;
    margin-bottom: $spacing-1;
  }

  &__details,
  &__location {
    font-size: $font-size-sm;
  }

  &__location {
    color: #808080;
  }
}
