mixin header(c)
  header.header(role="banner")
    .container
      .header__main
        .header__logo
          a.logo(href='/', aria-label="Leaf logo")
            +logo
        .header__nav
          +nav({
            navList: [
              {
                url: "/expertise",
                text: "Expertise"
              },
              {
                url: "/company",
                text: "Company"
              },
              {
                url: "/case-studies",
                textMobile: "Work",
                text: "Case studies"
              },
              {
                url: "/blog",
                text: "Blog"
              },
              {
                url: "mailto:curtisa.lee97@gmail.com",
                text: "Say hey 👋",
                mobileOnly: true
              }
            ],
          })
        .header__contact
          a.nav__link(href="mailto:curtisa.lee97@gmail.com")
            span.nav__text Say hey 👋
