$timeline-item-offset: $spacing-7;

.timeline {
  margin: $spacing-8 auto;
  position: relative;

  &__item {
    display: flex;
    margin: $spacing-5 0;
    padding-left: calc(1.6rem + #{$spacing-4});
    position: relative;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      margin: 0;
      padding: 0;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    &::before {
      background-color: $color-powder;
      border: $border-style 0.1rem $color-grey-3;
      border-radius: 100%;
      box-shadow: inset 0px 0px 0px 0.3rem $color-white;
      content: '';
      height: $size-2;
      left: 0;
      margin-top: $spacing-5;
      position: absolute;
      width: $size-2;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:not(:last-child)::after {
      background: $color-grey-3;
      content: '';
      height: 100%;
      left: 0.7rem;
      position: absolute;
      top: $timeline-item-offset;
      width: $border-width-sm;
      z-index: z('below');

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
        height: calc(100% - $timeline-item-offset);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-4')) {
      max-width: 27rem;
    }
  }
}
