.footer {
  color: #00071c; // var(--color-hero-subheading)

  &__container {
    padding: 0 $spacing-5;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      @include container;
    }
  }

  &__cta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $size-11;
  }

  &__heading {
    font-size: $font-size-xl;
    line-height: $heading-line-height;
    margin: 0 0 $spacing-1;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      line-height: $line-height;
    }
  }

  &__text {
    color: inherit;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: $spacing-6;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: 1.5rem;
    }
  }

  &__info {
    display: grid;
    font-size: $font-size-xs;
    margin-top: $spacing-8;
    padding: $spacing-3 0 $spacing-6;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      grid-template-columns: 1fr auto 1fr;
      margin-top: $spacing-10;
      padding: 0 0 $spacing-6;
    }
  }

  &__copyright,
  &__meta {
    align-self: center;
    color: inherit;
    font-size: 1.25em;
    margin-bottom: 0;
    margin-top: 0.25rem;
  }

  &__copyright {
    order: 1;
    justify-self: center;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      justify-self: flex-start;
      order: unset;
    }
  }

  &__meta {
    display: none;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
      display: unset;
      justify-self: flex-end;
    }
  }
}
