.post {
  background-color: $color-white;
  color: #666666;
  display: block;
  height: 100%;
  padding: $spacing-6;
  position: relative;
  transition: background-color $duration-5 $timing-ease;

  @include hover {
    background-color: #f9fafa;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-3')) {
    padding: $spacing-7;
  }

  &__date {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: $spacing-3;
    text-transform: uppercase;
  }

  &__heading {
    color: #00071c;
    font-size: 1.25rem;
    margin: 0 0 $spacing-4;
  }

  &__text {
    color: currentColor;
    font-size: $font-size-sm;
    margin-bottom: $spacing-6;
    overflow: hidden;
  }

  &__label {
    background-color: #e3e4e8;
    border-radius: $border-radius-sm;
    color: #00071c;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    padding: $spacing-3;
    text-transform: uppercase;
  }

  &__media {
    position: absolute;
    right: $spacing-5;
    top: $spacing-5;
  }
}
