-
  var blogPosts = [
    {
      href: "https://weareleaf.com/blog/my-advice-as-a-junior-designer",
      date: "2019",
      heading: "My Advice As A Junior Designer",
      text: "Having landed at role at Leaf while I was still a student, I felt it would be good to compile my top five tips for getting ahead of the game and breaking into the tech and design industry.",
      label: "Available on the Leaf site",
      redirect: true
    },
    {
      href: "https://weareleaf.com/blog/my-advice-as-a-junior-designer",
      date: "2020",
      heading: "Design Research",
      text: "If you’re interested in things like design and cognitive psychology, I’ve salvaged a collection of posts I wrote for our playbook at Leaf and stuck them in a repository.",
      label: "Available on Github",
      redirect: true
    }
  ]

mixin blog-post-grid(preview=true)
 .grid.grid--blog()
    if preview
      each index in [0,1]
        +blog-post-grid-item(blogPosts[index])
    else
      each post in blogPosts
        +blog-post-grid-item(post)

