mixin blog-post-grid-item(c)
  .grid__item
    a.post(href=c.href)
      .post__content
        span.post__date Published #{c.date}
        h3.post__heading= c.heading
        p.post__text= c.text
        +tag(c.label)
      if c.redirect === true
        +image({
          context: "post",
          src: "/assets/images/icons/redirect.svg",
          alt: "Clicking this link will automatically open up a new tab."
        })
