.nav {
  margin: 0 auto;

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
    margin-left: $spacing-7;
  }

  @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
    margin: 0;
  }

  &__list {
    @include flex-center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    @media screen and (min-width: map-get($breakpoints, 'breakpoint-2')) {
      margin-right: $spacing-3;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include animated-link($border-width-sm, '.nav__text');
    @include focus-bg;
    color: $rift-pearl;
    display: inline-block;
    font-size: $root-font-size;
    outline: none;
    padding: $spacing-5 $spacing-4;
    position: relative;
    transition: 0.2s;

    @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
      font-size: $font-size-sm;
    }

    @include hover {
      color: $color-white;
      text-decoration: none;
    }

    &[data-mobile-only] {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: none;
      }
    }

    &--active {
      color: $color-white;
      pointer-events: none;

      &::before {
        background: $color-powder;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: $size-1;
      }
    }
  }

  &__text {
    display: block;
    position: relative;

    &__mobile {
      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: none;
      }
    }

    &__standard {
      display: none;

      @media screen and (min-width: map-get($breakpoints, 'breakpoint-1')) {
        display: block;
      }
    }
  }
}
